{% extends "layout.njk" %}

{% block title %} Profile {% endblock %}

{% block content %}

<div class="flex flex-row mt-2 items-center">
    <img class="h-10 w-auto" src="utilisateur.png" alt="utilisateur">
    <p class="text-2xl my-2 ml-4"> Profile </p>
</div>

<form action="/change-password" method="POST" class="mt-4">
    <div class="mb-4">
        <label for="currentPassword" class="block text-sm font-medium text-gray-700">Current password</label>
        <input type="password" id="currentPassword" name="currentPassword" required
               class="mt-1 block w-52 px-3 py-2 border border-gray-300 shadow-sm focus:outline-none focus:ring-indigo-500 focus:border-indigo-500 sm:text-sm">
    </div>
    <div class="mb-4">
        <label for="newPassword" class="block text-sm font-medium text-gray-700">New password </label>
        <input type="password" id="newPassword" name="newPassword" required
               class="mt-1 block w-52 px-3 py-2 border border-gray-300 shadow-sm focus:outline-none focus:ring-indigo-500 focus:border-indigo-500 sm:text-sm">
    </div>
    <button type="submit"
            class="inline-flex justify-center py-2 px-4 border border-transparent shadow-sm text-sm font-medium text-white bg-indigo-600 hover:bg-indigo-700 focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-indigo-500">
        Submit
    </button>
</form>

{% endblock %}