{% extends "layout.njk" %}

{% block title %} Grammar {% endblock %}

{% block content %}

<p class="text-2xl my-2 ml-10"> Grammar </p>
<div class="flex flex-col justify-around h-full overflow-y-auto">
    {% for lesson in lessons %}
        <div class="flex flex-col w-60 h-auto rounded-2xl p-1 my-2 bg-blue-200">
            <h2 class="font-bold">{{ lesson.lesson_title }}</h2>
            <p>Description: {{ lesson.lesson_content.description }}</p>
            <p>Examples: {{ lesson.lesson_content.examples }}</p>
            <a href="/lessons/{{ lesson.id }}" class="btn">View Lesson</a>
        </div>
    {% endfor %}
</div>
{% endblock %}