<header class="h-max">
    <nav>
        <ul class = "flex flex-col justify-between text-base/12 font-semibold text-white">
            <li><a href="/">Home</a></li>
            <li><a href="/grammar">Grammar</a></li>
            <li><a href="/vocabulary">Vocabulary</a></li>
            <li><a href="/expressions">Expressions</a></li>
            <li><a href="/articles">Articles</a></li>
        </ul>
    </nav>
    
    <div class="flex flex-col justify-between text-sm/12 font-semibold text-white">
        <ul class = "flex flex-col justify-between text-sm/12 font-semibold text-white">
            <li><a href="/profile">Profile</a></li>
            <li><a href="/settings">Settings</a></li>
             <li><a href="/signout">Disconnect</a></li>
        </ul>
    </div>
</header>
