<header class="h-max">
    <nav>
        <ul class = "flex flex-col justify-between">
            <li><a href="/">Home</a></li>
            <li><a href="/grammar">Grammar</a></li>
            <li><a href="/vocabulary">Vocabulary</a></li>
            <li><a href="/expressions">Expressions</a></li>
            <li><a href="/articles">Articles</a></li>
        </ul>
    </nav>
    
    <div>
        <button type="submit"> <a href="/signout"> Disconnect </a> </button>
    </div>
</header>
